@import '../../App.scss';
.loading{
    text-align: center;
    padding-top: 24vh;
}
.search-page{
    background-color: #f7f7f7;
    padding-top: 40px;
    &__result{
        padding-top: 20px;
    }
    .video-item{
        display: flex;
        margin-bottom: 20px;
        &__thumbnail{
            margin-right: 20px;
            position: relative;
        }
        &__data{
            margin-right: 0;
        }
        &__title{
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 6px;
        }
        &__metadat{
            color: #a1a0a0;
        }
        &__duration{
            position: absolute;
            right: 6px;
            bottom: 10px;
            color: #fff;
            background: #2f2c2c85;
            padding: 3px;
            font-size: 12px;
        }
        &__description{
            color: #a1a0a0;

        }
    }
    .channel-item{
        display: flex;
        margin-bottom: 20px;
        &__thumbnail{
            margin-right: 20px;
            width: 31%;
            text-align: center;
            img{
                border-radius: 50%;
            }
        }
        &__data{
            margin-right: 0;
            width: 60%;
        }
        &__title{
            margin: 0;
            font-weight: 500;
        }
        &__metadat{
            color: #a1a0a0;
            span{
                display: inline-block;
            }
        }
        &__description{
            color: #a1a0a0;

        }
    }
}

@media (max-width: $screen-md) {
    .search-page {
        background-color: #fff;
        padding-top: 0;
        .video-item{
            &__thumbnail{
                width: 55%;
                height: 90px;
                img{
                    width: 100%;
                }
            }
            &__data{
                width: 45%;
            }
            &__title{
                font-size: 12px;
                font-weight: 400;
                
            }
            &__description{
                overflow-wrap: break-word;
            }
            &__metadat{
                font-size: 12px;
                span{
                    display: block;
                }
            }
            .fas{
                display: none;
            }
        }
        .channel-item{
            align-items: center;
            &__thumbnail{
                img{
                    width: 100px;
                }
            }
            &__title{
                font-size: 12px;
                font-weight: 400;
                
            }
            &__metadat{
                font-size: 12px;
                span{
                    display: block;
                }
            }
        }
    }
}
