@import '../../App.scss';

.videos-header{
    &.mobile{
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 7px;
        select{
            width: 100px;
            padding: 5px 2px;
            background-color: #f6f5f5;
            border-color: #dadada;
            margin-right: 10px;
        }
        
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom:8px;

    }
}
