$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$color:#ccc;

.content{
  padding-top: 82px
}
.container {
  width: 70vw;
  max-width: 1441px;
  margin: auto;
  // padding: 10px 0;
}

@media (max-width: $screen-md) {
  .container {
    width: 95vw;
  }  
  .content{
    padding-top: 0
  }
}
@media (max-width: $screen-md) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (min-width: $screen-md +1) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media (width: $screen-md) {
  .mobile {
    display: block;
  }
}